# Wallet info
DEPLOYER=
RAW_PRIVATE_KEY=

# Etherscan
ETHERSCAN_KEY=

# Deployed addresses
TOKEN_ADDR=
VESTING_ADDR=
GOVERNOR_ADDR=
TIMELOCK_ADDR=
TREASURY_ADDR=
BOX_ADDR=

# TX hashes
DELEGATE_HASH=
CASTVOTE_HASH=
QUEUE_HASH=
EXECUTE_HASH=

# Proposal
PROPOSAL_HASH=
PROPOSAL_ID=
